<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.url }}" class="site-title">
        <img src="/images/me.jpeg" alt="Ernests Kečko" class="avatar" />
        {{ site.title }}
      </a>
      <div id="search-block" class="right">
        <form action="get" id="site-search" class="right">
          <input type="text" id="search-box" class="search-input field-light" placeholder="Search">
        </form>
        <ul id="search-results" class="search-results"></ul>
      </div>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
