.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;
}

.site-header a {
  color: #333;
  font-size: $h3;
  font-weight: 300;
}

.site-header .site-title {
  font-size: $h2;
}

.site-nav {
  float: right;
}

.site-header nav a {
  color: #666;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: #444;
  opacity: 1;
  border-bottom: 2px solid #444;
}

.site-nav a + a {
  margin-left: 1em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.site-header {
  text-align: center;
}

.site-title .avatar {
  margin-right: 0.5rem;
  width: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.site-header .site-nav {
  text-align: center;
}

.social-icons .left, .social-icons .right {
  text-align: center;
  float: none;
}

#site-search {
  display: none;
}

#site-search input.search-input[type=text] {
  margin: 0;
}

#search-block {
  position: relative;
}

.search-results {
  position: absolute;
  width: 100%;
  left: 0;
  top: 2.25rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: $lightest-gray;
}

.search-results li {
  line-height: 1;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;

  a {
    font-size: 0.8rem;
    line-height: 1;
    color: $darken-4;
  }
}
.search-results li.active a,
.search-results li a:hover, {
  color: $dark-gray;
}